@import url("indice.css");
:root {
    --color1: #d8f5ff; /*color titulos, fondo enlaces, fondo pie de pagina*/
    --color2: #475461; /*fondo cabecera, fondo índices*/
    --color3: #2e3038; /*fondo página*/
    --color4: rgb(255, 255, 255); /*color texto principal*/
    --color5:  0 0 10px rgba(0, 0, 0, 0.5); /*sombreado*/
    --color6: #272436; /*Fondo contenido, texto pie de pagina, color enlaces pinchados*/
}


